<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    {{  bootstrap.load_css()  }}    
</head>
<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Naicrosoft</a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Procurar</button>
      </form>
    </div>
  </nav>
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://imgs.callofduty.com/content/dam/atvi/callofduty/cod-touchui/blackops6/meta/BO6_LP-meta_image.jpg"  width='950px' height="600px" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Call Of Duty Black Ops 6.</h5>
          <p>Jogue o novo jogo da série de jogos do COD.</p>
          <a href="https://www.callofduty.com/br/pt/blackops6" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Acesse agora</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://store-images.s-microsoft.com/image/apps.608.13510798885735219.cf55aeca-e690-41e0-a88b-41b0e517a3be.c94e1bfa-1b68-4cf5-9954-f967168480b4?q=90&w=480&h=270" width='950px' height="600px" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:brown">Minecraft</h5>
          <p>Divirta-se em um mundo aberto multiplayer com seus amigos!</p>
          <a href="https://www.minecraft.net/pt-br" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Acessar o site</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn.sistemawbuy.com.br/arquivos/b7f36453f415a540dffee82d02b0ae0c/produtos/6468c308af8ff/gamepass-ultimate-6468c3095ca29.jpg" href='https://www.minecraft.net/pt-br' width='950px' height="600px" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>XBox Gamepass</h5>
          <p>Jogue centenas de jogos de alta qualidade.</p>
          <a href="https://www.xbox.com/pt-br/xbox-game-pass?ef_id=_k_EAIaIQobChMIpOrr7oDLiQMVSQRECB1KzgKxEAAYASAAEgJCbPD_BwE_k_&OCID=AIDcmmaigrfm8i_SEM__k_EAIaIQobChMIpOrr7oDLiQMVSQRECB1KzgKxEAAYASAAEgJCbPD_BwE_k_&gad_source=1&gclid=EAIaIQobChMIpOrr7oDLiQMVSQRECB1KzgKxEAAYASAAEgJCbPD_BwE" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Comprar</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<h5></h5>


  <div class="card" style="width: 28rem;">
    <img src="https://www.wreducacional.com.br/img_cursos/prod/img_1230x644/informatica/pacote-office-com-word-excel-e-powerpoint.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Programas Office</h5>
      <p class="card-text">Organize suas planilhas, crie textos e faça apresentações de uma maneira mais profissional.</p>
      <a href="https://www.microsoft.com/pt-br/microsoft-365/p/microsoft-365-personal/cfq7ttc0k5bf?icid=mscom_marcom_CPH2a_M365Personal&activetab=pivot:vis%C3%A3ogeraltab" class="btn btn-primary">Acesse os programas</a>
    </div>
  </div>
  

    {{  bootstrap.load_js()  }}
</body>
</html>